#sidebar
	position         absolute
	left             0
	height           100vh
	max-width        3.6rem
	padding          1em 0.5em
	background-color #f5f5f5
	border           1px solid #d5d5d5
	font-size        1em
	transition       max-width 0.2s ease-out

	&:hover
		max-width 15em
		width     15em

	ul
		display         block
		padding         0
		height          calc(100vh - 5rem)
		list-style-type none

	// icons
	.fa
		flex         none
		align-self   flex-start
		width        2.5rem
		color        #333
		font-size    1.28em
		text-align   center
		line-height  2em

	span
		flex          none
		padding-right 0.5em
		color         #333
		line-height   2em

	.serviceButton,
	.exitButton
		overflow      hidden
		display       block
		width         100%
		margin        auto
		border-radius 3px
		line-height   1.5em

		a
			display     flex
			align-items center

	.serviceButton:hover
		background-color #e5e5e5

	.exitButton
		span,
		.fa
			color #999

		&:hover
			background-color #e5e5e5

			span,
			.fa
				color #EE1010

	// active tab
	#currentService
		background-color #333

		.fa,
		span
			color #fff
