html
	height 100%

body
	height 100%
	background #f4f4f4

#content
	height 100%
	font-family "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow hidden

#sidebar
	height 100%
	width 15%
	float left
	background #f4f4f4
	margin 0px
	padding-top 20px
	font-size 130%
	list-style-type none

li
	margin-bottom 20px
	list-style-type none

li:last-child
	position absolute
	bottom 20px
	cursor pointer

iframe
	height 100%
	width 85%
	border none
#home
	text-align:center
