html
	height 100%

body
	height 100%
	background #f4f4f4

#content
	height 100%
	font-family "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow hidden

#sidebar
	height 100%
	width 15%
	float left
	background #f4f4f4
	margin 0px
	padding-top 20px
	font-size 130%
	list-style-type none

li
	list-style-type none

iframe
	height 100%
	width 85%
	border none

#home
	text-align:center

ul
	padding 0
	display block
	height 90%

.serviceButton,
.exitButton
	font-size 0.9em
	width 90%
	display block
	margin auto
	//margin-left 0.5em
	margin-bottom 20px
	transition background-color 0.2s ease

.serviceButton
	background-color #5ca3f9
	border 1px #1a7ef7

.exitButton
	background-color red
	display block

.serviceButton:hover,
.exitButton:hover
	background-color #ff850a

.serviceButton a,
.serviceButton a:visited,
.serviceButton a:hover,
.exitButton a,
.exitButton a:visited,
.exitButton a:hover
	color white
	text-decoration none

.fa
	color white
	font-size 0.8em
	padding-left 10px
	padding-right 10px
	display inline

.serviceButton a,
.exitButton a
	width 100%
	display block

.fa,
span
	display table-cell

#errors
	opacity 0
	position fixed
	margin 10% 30%
	width 40%
	background white
	border solid 1px #5ca3f9
	box-shadow 0 0 10px

.on-error
	animation errorShow 1s ease both

.off-error
	animation errorHide 1s ease both

#errors p:first-child
	background-color #5ca3f9
	font-size 1.3em
	color white
	padding-left 6px

#errorText
	text-align center

#closeError
	background #5ca3f9
	display block
	color white
	font-size 1.2em
	width 2em
	text-align center
	position absolute
	right 0.1em
	bottom 0.1em
	transition background-color 0.2s ease
	cursor pointer

#closeError:hover
	background #ff850a

@keyframes errorShow
	from
		opacity 0
		transform translateY(-50%)
	to
		opacity 1
		transform translateY(0)

@keyframes errorHide
	from
		opacity 1
		transform translateY(0)
	100%
		opacity 0
		transform translateY(50%)