html
	height 100%

body
	height 100%
	background #f4f4f4

#content
	height 100%
	font-family "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow hidden

#sidebar
	height 100%
	width 15%
	float left
	background #f4f4f4
	margin 0px
	padding-top 20px
	font-size 130%
	list-style-type none

li
	list-style-type none

iframe
	height 100%
	width 85%
	border none

#home
	text-align:center

ul
	padding 0
	display block
	height 90%

.serviceButton,
.exitButton
	font-size 0.9em
	width 90%
	display block
	margin auto
	//margin-left 0.5em
	margin-bottom 20px
	transition background-color 0.2s ease

.serviceButton
	background-color #5ca3f9
	border 1px #1a7ef7

.exitButton
	background-color red
	display block
	//position absolute
	//bottom 0
	cursor pointer

.serviceButton:hover,
.exitButton:hover
	background-color #ff850a

.serviceButton a,
.serviceButton a:visited,
.serviceButton a:hover,
.exitButton a,
.exitButton a:visited,
.exitButton a:hover
	color white
	text-decoration none

.fa
	color white
	font-size 0.8em
	padding-left 10px
	padding-right 10px

.fa,
.serviceButton a,
.exitButton a
	display table-cell