#content
    #ImportingStatus
        img#logo(src="isenlogo.png")
        p#OperationName
            | Connexion à l'ENT
        p#statusText
            | Veuillez renseigner vos identifiants CAS:
        div#progressParent
            div#progress
        div#details
            form(onSubmit="return false")#authForm
                input(type="text", id="username", placeholder="Nom d'utilisateur", required)/
                br/
                input(type="password", id="password", placeholder="Mot de passe", required)/
                br/
                button(type="submit", id="submitButton", class="button")
                    | Se connecter
            #authStatus
        button(type="button", class="button")#nextStepButton
            | Passer à l'étape suivante