#content
    #home
        h1 ENT ISEN
        h2 Merci de rentrer vos identifiants
        form(onSubmit="return false")
            input(type="text", id="username", placeholder="Nom d'utilisateur")/
            br/
            input(type="password", id="password", placeholder="Mot de passe")/
            br/
            input(type="checkbox", id="contact")
            | Importer les contacts ISEN
            input(type="checkbox", id="mail")
            | Importer le compte mail ISEN
            br/
            input(type="submit", id="submit", value="Se connecter")
        #status
        #ImportingStatus
            p#OperationName
            p#statusText
            div#progress
            p#details