#content
    #home
        h1 ENT ISEN
        h2 Merci de rentrer vos identifiants
        form(onSubmit="return false")
            input(type="text", id="username", placeholder="Nom d'utilisateur")/
            br/
            input(type="password", id="password", placeholder="Mot de passe")/
            br/
            input(type="submit", id="submit", value="Se connecter")
        #status