#content
  #sidebar
    ul
      li(class="serviceButton")
        i(class="fa fa-file-o")
        a(href="#moodle") Moodle
      li(class="serviceButton")
        i(class="fa fa-calendar")
        a(href="#webAurion") webAurion
      li(class="serviceButton")
        i(class="fa fa-envelope-o")
        a(href="#horde") Webmail
      //
        li(class="serviceButton")
          a(href="#app1") app1
      li(class="exitButton")
        i(class="fa fa-sign-out")
        a Déconnexion

  iframe(src="#{url}")
