#content
    #errors
        p Erreur
        p#errorText
        span#closeError(class="on-error") ok

    #replayOp
        p#replayTitle Configuration
        ul
            li Importer mon compte mail ISEN
            li Importer les contacts administratifs
            li Importer les contacts élèves
            li Changer mon mot de passe
        p#OperationName
        p#statusText
        div#progressParent
            div#progress
        div#details

    #sidebar
        ul#servicesMenu

        span(class="exitButton")
            a(href="#logout")
                i(class="fa fa-sign-out")
                span Réinitialiser l'application

    iframe#app(src="#{url}")