#content
  #errors
    p Erreur
    p#errorText lorem ipsum dolor sit amet

  #sidebar
    ul
      li(class="serviceButton")
        a(href="#moodle")
          i(class="fa fa-file-o")
          span Moodle
      li(class="serviceButton")
        a(href="#webAurion")
          i(class="fa fa-calendar")
          span webAurion
      li(class="serviceButton")
        a(href="#horde")
          i(class="fa fa-envelope-o")
          span Webmail
      li(class="serviceButton")
        a(href="#trombino")
          i(class="fa fa-users")
          span Trombinoscope
      li(class="serviceButton")
        a(href="#eval")
          i(class="fa fa-thumbs-o-up")
          span Evaluation des enseignements
      li(class="serviceButton")
        a(href="#lol")
          i(class="fa fa-heart")
          span LOL, service non existant!

    span(class="exitButton")
      a(href="#logout")
        i(class="fa fa-sign-out")
        span Déconnexion

  iframe(src="#{url}")
