#content
  #sidebar
    ul
      li(class="serviceButton")
        i(class="fa fa-file-o")
        a(href="#moodle") Moodle
      li(class="serviceButton")
        i(class="fa fa-calendar")
        a(href="#webAurion") webAurion
      li(class="serviceButton")
        i(class="fa fa-envelope-o")
        a(href="#horde") Webmail
      li(class="serviceButton")
        i(class="fa fa-users")
        a(href="#trombino") Trombinoscope
      li(class="serviceButton")
        i(class="fa fa-thumbs-o-up")
        a(href="#eval") Evaluation des enseignements
      li(class="serviceButton")
        i(class="fa fa-thumbs-o-up")
        a(href="#azerty") Evaluation des enseignements
    #errors= error

    span(class="exitButton")
      i(class="fa fa-sign-out")
      a(href="#logout") Déconnexion

  iframe(src="#{url}")
