#content
    #errors
        p Erreur
        p#errorText
        span#closeError(class="on-error") ok

    #modalBackground

    #replayOp
        p#replayTitle Configuration
        ul
            li#mail Importer mon compte mail ISEN
            li#ca Importer les contacts administratifs
            li#ce Importer les contacts élèves
            li#pass Changer mon mot de passe
            li#raz Réinitialiser l'application
        p#OperationName
        p#statusText
        div#progressParent
            div#progress
        div#details
        button(type="button", class="button")#nextStepButton
            | Terminer
    #sidebar
        ul#servicesMenu

        span(class="exitButton")
            a(href="#logout")
                i(class="fa fa-sign-out")
                span Réinitialiser l'application

    iframe#app(src="#{url}")