#content
  #sidebar
    ul
      li
        a(href="#moodle") Moodle
      li
        a(href="#webAurion") webAurion
      li
        a(href="#horde") Webmail
      //
        li
          a(href="#app1") app1
      li
        a Déconnexion

  iframe(src="#{url}")
